.heading {
    font-weight: bold;
    color: #006dcc;
}

.jumbotron {
    border: 2px #28878a solid;
    border-radius: 5px;
    box-shadow: 4px 4px lightgrey;
}

.jumbotron-small {
    border: 2px #e5890f solid;
    border-radius: 5px;
    box-shadow: 4px 4px lightgrey;
}